[submodule "themes/hugo-casper-two"]
	path = themes/hugo-casper-two
	url = git@github.com:eueung/hugo-casper-two.git
[submodule "themes/ananke"]
	path = themes/ananke
	url = git@github.com:budparr/gohugo-theme-ananke.git
[submodule "hugo-casper-two"]
	path = hugo-casper-two
	url = https://github.com/eueung/hugo-casper-two.git
